<?xml version="1.0" encoding="utf-8"?>
<plugin>
   <extension point="org.eclipse.help.toc">
      <toc
            category="CDA Guides"
            file="ccd-book.xml"
            primary="true"/>
   </extension>
   <extension point="org.eclipse.help.index">
      <index file="index.xml"/>
   </extension>
</plugin>
